.att{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.cards5{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   
}

.btns{
    display: flex;
    gap: 1rem;
   
}

.add {
    background:var(--c-purple);
    color: white;
    font-size: large;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

#search{
    font-weight:300;
    margin-top: 3rem;
}

