.org{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    min-height: calc(100vh - 13rem);
}

.cardsWrapper{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
}

.btns{
    display: flex;
    gap: 1rem;
}

.add {
    background:var(--c-purple);
    color: white;
    font-size: large;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

#search{
    font-weight:300;
    margin-top: 3rem;
}

