{% extends 'base.html.twig' %}

{% block body %}

{# <div id="my-react-component"></div> #}
<div id="component"></div>
    <div {{ react_component('MyComponent') }} > Loading</div>

    {# <div {{ react_component('Admin/OtherComponent') }}></div> #}
    {# <script>
const root = ReactDOM.createRoot(document.getElementById('component'));
root.render(
    <React.StrictMode>
        <MyComponent />,
    </React.StrictMode>
);
</script> #}
    
{% endblock %}
