<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Seminar{% endblock %}</title>
        <link rel="stylesheet" href="/app.css" >
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </head>
    <body>
    <div class="twig_header">
        <h2><a href="http://localhost:3000" style="text-decoration:none; color: var(--c-almond);">Business College </a></h2>
        </div>

        <div class="logout_logo" style="top: 0;
    right: 0;
    position: absolute; margin: 1.5rem; font-width: bold;"><p><a href="{{ path('app_logout') }}" style="text-decoration:none; color: var(--c-almond);">Logout</a><p></div>
        {% block body %}{% endblock %}
    </body>
</html>
