{% extends 'logged.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
<div class="admin_page">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="admin_title_wrapper">

    <h2>This is the admin path</h2>
</div>

 <a href="http://localhost:3000/admin">To Dashboard</a>
 </p>

  <p><a href="{{ path('app_attendee_index') }}">To Edit Attendees</a></p>
  </div>
{% endblock %}
